### Dependencies
node_modules/
**/node_modules/

### Build outputs
dist/
build/
out/
coverage/
**/dist/
**/build/
**/out/
**/coverage/

### Expo / React Native
.expo/
.expo-shared/
web-build/
**/.expo/
**/.expo-shared/
**/web-build/
android/
ios/
*.jks
*.keystore

### Caches
.metro-cache/
**/.metro-cache/
.cache/
**/.cache/
.vite/
**/.vite/
.turbo/
**/.turbo/
.tailwindcss/
**/.tailwindcss/
*.tsbuildinfo

### Env (no subir secretos)
.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example

### Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

### OS files
.DS_Store
Thumbs.db

### Editor / IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.iml
