# Servicio de Autenticación (puerto 3001)
VITE_AUTH_BASE_URL=http://localhost:3001

# Servicio de Usuarios (puerto 3002)
VITE_USUARIOS_BASE_URL=http://localhost:3002

# Servicio de Catálogo - Productos, Clientes, Zonas, etc. (puerto 3003)
VITE_CATALOGO_BASE_URL=http://localhost:3003

# Servicio de Pedidos (puerto 3004)
VITE_orders_BASE_URL=http://localhost:3004
# Google Maps
VITE_GOOGLE_MAPS_API_KEY=AIzaSyDoftE8Lg_aqWrrJKQDprE5EkEuN5ChvEE